.Project 1 - Well-Formed Formulas.ipynb.sage-jupyter2
.Project 2 - The Vigenere CIpher.ipynb.sage-jupyter2
.Project 3 - Support Vector Machines.ipynb.sage-jupyter2
.Project 4 - Gradient Descent.ipynb.sage-jupyter2
.Project 5 - Random Walks.ipynb.sage-jupyter2
.Project 6 - The Gibbs Phenomenon.ipynb.sage-jupyter2
.Project 7 - Chebyshev Bias.ipynb.sage-jupyter2
.DS_Store
